<div class="column is-3">
    <aside class="menu is-hidden-mobile">
        <p class="menu-label">Profile</p>
        <ul class="menu-list">
            <li>
                <a href="#home" class="is-active">
                    <span class="icon is-small"><i class="fa fa-home"></i></span>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="navbar-item has-dropdown">
                    <span class="icon is-small"><i class="fa fa-user"></i></span>
                    Profile
                </a>
                <ul>
                    <li><a href="#profile/accounts">Accounts</a></li>
                    <li><a href="#profile/mail">Linked Device</a></li>
                </ul>
            </li>
        </ul>

        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <li>
                <a href="#" class="navbar-item has-dropdown">
                    <span class="icon is-small"><i class="fa fa-project-diagram"></i></span>
                    Proyek
                </a>
                <ul>
                    <li><a href="#proyek/lihat">Owner</a></li>
                    <li><a href="#proyek/anggota">Member</a></li>
                    <li><a href="#proyek/assessment">Assessment</a></li>
                    <li><a href="#proyek/bimbingan">Bimbingan</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="navbar-item has-dropdown">
                    <span class="icon is-small"><i class="fa fa-book"></i></span>
                    Dokumentasi
                </a>
                <ul>
                    <li><a href="https://gocroot.if.co.id/" target="_blank">GoCroot Docs</a></li>
                    <li><a href="#docs/api">API Reference</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="navbar-item has-dropdown">
                    <span class="icon is-small"><i class="fa fa-palette"></i></span>
                    Management
                </a>
                <ul>
                    <li><a href="#users/list">Users</a></li>
                    <li><a href="#settings/config">Settings</a></li>
                    <li><a href="#logs/activity">Activity Logs</a></li>
                </ul>
            </li>
        </ul>

        <p class="menu-label">System</p>
        <ul class="menu-list">
            <li><a href="#messages"><span class="icon is-small"><i class="fa fa-envelope"></i></span> Messages</a></li>
            <li><a href="#health"><span class="icon is-small"><i class="fa fa-heartbeat"></i></span> Health Check</a></li>
        </ul>
    </aside>
</div>