<div class="content">
    <div class="columns">
        <div class="column">
            <h1 class="title">Security Settings</h1>
            <p class="subtitle">Manage your account security</p>

            <div class="box">
                <div class="field">
                    <label class="label">Change Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Current Password" id="currentPassword">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="New Password" id="newPassword">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="Confirm New Password" id="confirmPassword">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Two-Factor Authentication</label>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" id="enable2FA">
                            Enable Two-Factor Authentication
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" id="saveSecuritySettings">Save Settings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>